{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Forum</title>
    <meta name="description" content="Forum website powered by Django" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <style>
        body {
            margin: 0;
        }
    </style>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">
                You are using an <strong>outdated</strong> browser. Please
                <a href="#">upgrade your browser</a> to improve your experience.
            </p>
        <![endif]-->
    <nav class="navbar navbar-expand bg-dark justify-content-between">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">
                    <i class="fas fa-coffee text-warning pl-2 pr-2"></i> Django Forum
                </a>
            </li>
        </ul>
        {% if data.user.is_authenticated %}
        <a class="nav-link text-white" href="/account/">{{data.user.username}}</a>
        <a class="nav-link btn bg-info" href="/account/logout/">Logout</a>
        {% else %}
        <a class="nav-link btn bg-primary text-white" href="/account/auth/">Login</a>
        {% endif %}
    </nav>
    <div class="inner-wrapper">
        <div class="inner-sidebar">
            <div class="inner-sidebar-header justify-content-center">
                {% if request.user.is_authenticated %}
                <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal"
                    data-target="#threadModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-plus mr-2">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    NEW DISCUSSION
                </button>
                {% else %}
                <a class="btn btn-secondary has-icon btn-block" href="/account/auth/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-plus mr-2">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    NEW DISCUSSION
                </a>
                {% endif %}
            </div>

            <div class="inner-sidebar-body p-0">
                <div class="p-3 h-100" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: -16px">
                        <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                                <div class="simplebar-content-wrapper" style="
                                            height: 100%;
                                            overflow: hidden scroll;
                                        ">
                                    <div class="simplebar-content" style="padding: 16px">
                                        <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                            <a href="/" class="nav-link nav-link-faded active">
                                                <div class="nav-item media forum-item">
                                                    <div class="media-body">
                                                        Main
                                                    </div>
                                                    <div class="text-muted small text-center align-self-center">
                                                        <i class="far fa-file ml-2"></i> {{data.all_posts_count}}
                                                    </div>
                                                </div>
                                            </a>

                                            {% for category in data.categories %}
                                            <a href="/category/{{category.name.lower}}/"
                                                class="nav-link nav-link-faded">
                                                <div class="nav-item media forum-item">
                                                    <div class="media-body">
                                                        {{ category.name }}
                                                    </div>
                                                    <div class="text-muted small text-center align-self-center">
                                                        <i class="far fa-file ml-2"></i> {{category.posts_count}}
                                                    </div>
                                                </div>
                                            </a>
                                            {% endfor %}
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simplebar-placeholder" style="width: 234px; height: 292px"></div>
                    </div>
                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
                        <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
                    </div>
                    <div class="simplebar-track simplebar-vertical" style="visibility: visible">
                        <div class="simplebar-scrollbar" style="
                                    height: 151px;
                                    display: block;
                                    transform: translate3d(0px, 0px, 0px);
                                "></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inner-main">
            <div class="inner-main-header">
                <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#"
                    data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                <select class="custom-select custom-select-sm w-auto mr-1">
                    <option selected="">Latest</option>
                    <option value="1">Popular</option>
                    <option value="3">Solved</option>
                    <option value="3">Unsolved</option>
                    <option value="3">No Replies Yet</option>
                </select>
                <span class="input-icon input-icon-sm ml-auto w-auto">
                    <input type="text"
                        class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                        placeholder="Search forum" />
                </span>
            </div>

            <!-- Inner main body -->
            {% block content %}{% endblock content %}

            {% if request.user.is_authenticated %}
            {% load crispy_forms_tags %}
            <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form method="POST" action="/create_post/">
                            {% csrf_token %}
                            <div class="modal-header d-flex align-items-center bg-primary text-white">
                                <h6 class="modal-title mb-0" id="threadModalLabel">
                                    New Discussion
                                </h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                    {% if 'login' in message.tags %}
                                    <div class="alert alert-danger">{{ message }}</div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {{data.PostForm|crispy}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    Post
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="" async defer></script>
</body>

</html>