{% extends 'main/main.html' %}{% load static %}{% block content %}
<div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
    <div class="card mb-2 container border border-danger">
        <div class="card-body p-2 p-sm-3">
            <div class="media forum-item row">
                <div class="d-flex flex-column py-1 px-3 col-2">
                    <h5 class="mx-auto text-center">{{ post.profile.displayname }}</h5>
                    <a class="mx-auto" href="/account/{{ post.profile.displayname }}/"><img
                            src="{{ post.profile.avatar_url }}" class="rounded-circle" height="50" width="50"
                            alt="User" /></a>
                </div>
                <div class="media-body col">
                    <div class="card-title">
                        <h3>
                            <a href="" data-toggle="collapse" data-target=".forum-content"
                                class="text-body">{{ post.title }}</a>
                        </h3>
                    </div>
                    <div class="card container m-1" style="word-break: break-all">
                        <p class="card-text">
                            {{ post.body }}
                            <hr>
                            {{ post.profile.signature }}
                        </p>
                    </div>

                    <p class="text-muted">
                        <span class="text-secondary font-weight-bold">{{ post.created_time_human }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% for comment in data.comments %}
    <div class="card mb-2 container">
        <div class="card-body p-2 p-sm-3">
            <div class="media forum-item row">
                <div class="d-flex flex-column px-3 col-2">
                    <h5 class="mx-auto text-center">{{ comment.profile.displayname }}</h5>
                    <a class="mx-auto" href="/account/{{ comment.profile.displayname }}/"><img
                            src="{{ comment.profile.avatar_url }}" class="rounded-circle" height="50" width="50"
                            alt="User" /></a>
                </div>
                <div class="media-body col">
                    <div class="card container">
                        <p class="card-text">
                            {{ comment.body }}
                            <hr>
                            {{ comment.profile.signature }}
                        </p>
                    </div>
                    <div class="row justify-content-between px-3 pt-2">
                        <p class="text-muted">
                            <span class="text-secondary font-weight-bold">{{ comment.created_time_human }}</span>
                        </p>
                        <div>
                            <button class="btn btn-success rounded">36 <i class="fas fa-thumbs-up"></i></button>
                            <button class="btn btn-danger rounded">48 <i class="fas fa-thumbs-down"></i></button>
                            <button class="btn btn-primary rounded">Reply <i class="fas fa-reply pl-1"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
        {% if data.comments.has_previous %}
        <li class="page-item">
            <span class="page-link has-icon">
                <a href="?page={{data.comments.previous_page_number}}">
                    <i class="material-icons">&laquo</i>
                </a>
            </span>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link has-icon">
                <i class="material-icons">&laquo</i>
            </span>
        </li>
        {% endif %}

        {% for page in data.page_range %}
        {% if page == data.comments.number %}
        <li class="page-item active">
            <span class="page-link">
                <a href="?page={{page}}" class="text-white">
                    {{page}}
                </a>
            </span>
        </li>
        {% elif page == data.comments.paginator.ELLIPSIS %}
        {% if forloop.counter < 5 %}
        <li class="page-item">
            <span class="page-link">
                <a href="?page={{data.comments.number|add:'-4'}}">
                    {{page}}
                </a>
            </span>
        </li>
        {% else %}
        <li class="page-item">
            <span class="page-link">
                <a href="?page={{data.comments.number|add:'4'}}">
                    {{page}}
                </a>
            </span>
        </li>
        {% endif %}
        {% else %}
        <li class="page-item">
            <span class="page-link">
                <a href="?page={{page}}">
                    {{page}}
                </a>
            </span>
        </li>
        {% endif %}
        {% endfor %}

        {% if data.comments.has_next %}
        <li class="page-item">
            <span class="page-link has-icon"><a href="?page={{data.comments.next_page_number}}">
                    <i class="material-icons">&raquo</i>
                </a>
            </span>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link has-icon">
                <i class="material-icons">&raquo</i>
            </span>
        </li>
        {% endif %}
    </ul>
</div>
{% if request.user.is_authenticated %}
{% load crispy_forms_tags %}
<button class="btn btn-primary rounded-circle btn-floating"
    style="position: absolute; bottom: 2em; right: 2em; height: 3em; width: 3em;" data-toggle="modal"
    data-target="#commentModal"><i class="fas fa-plus"></i></button>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="POST" action="{{data.request.path}}create_comment/">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Add Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        {% if 'add_comment' in message.tags %}
                        <div class="alert alert-danger">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {{ CommentForm|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Post
                    </button>
                </div>
            </form>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}